.title-todo{
    font-style: italic;
}

/* Animation pour faire monter le séparateur vers le haut en disparaissant */
@keyframes slideUpAndFadeOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  /* Animation pour faire partir la partie droite vers la droite en disparaissant */
  @keyframes slideRightAndFadeOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  /* Appliquer les animations seulement si les classes sont présentes */
  .animate-divider {
    animation: slideUpAndFadeOut 1s forwards;
  }
  
  .animate-right-side {
    animation: slideRightAndFadeOut 1s forwards;
  }