.title-todo{
    font-style: italic;
}

/* Animation pour faire monter le séparateur vers le haut et disparaître */
@keyframes slideUpAndFadeOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  /* Animation pour faire partir le right-side vers la droite et disparaître */
  @keyframes slideRightAndFadeOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  /* Appliquer l'animation au séparateur */
  .animate-divider {
    animation: slideUpAndFadeOut 1s forwards;
  }
  
  /* Appliquer l'animation au right-side */
  .animate-right-side {
    animation: slideRightAndFadeOut 1s forwards;
  }

  /* Animation de fondu en entrée */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Appliquer l'animation de fondu en entrée au separator */
.divider {
    animation: fadeIn 1s forwards;
  }
  
  /* Appliquer l'animation de fondu en entrée au right-side */
  .right-side {
    animation: fadeInRight 1s forwards;
  }

    /* Appliquer les animations seulement si les classes sont présentes */
    .animate-divider {
        animation: slideUpAndFadeOut 1s forwards;
      }
      
      .animate-right-side {
        animation: slideRightAndFadeOut 1s forwards;
      }


main{
  flex-direction: column;
}

.content-admin{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
}

.task-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  width: 700px;
  gap: 20px; 
}

.user-tasks {
  display: flex;
  flex-direction: column; 
  min-width: 200px;
}